<h2 class="text-align-center">Registration</h2>
<div class="app-plate">
  <form #registrationForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="registration-form">
      <div>
        <div class="form__control">
          <label for="name">Name</label>
          <input type="text" id="name" name="name" placeholder="Input text"
            required minlength="6" [(ngModel)]="name" #nameCtrl="ngModel"/>

          <span id="nameErrorMessage" class="text-danger"
            *ngIf="(registrationForm.submitted || nameCtrl.touched) && nameCtrl.errors">Name is required.</span>
        </div>

        <div class="form__control">
          <label for="email">Email</label>
          <input type="text" id="email" name="email" placeholder="Input text"
            required emailValidator [(ngModel)]="email" #emailCtrl="ngModel"/>

          <span id="emailErrorMessage" class="text-danger"
            *ngIf="(registrationForm.submitted || emailCtrl.touched) && emailCtrl.errors">Email is required.</span>
        </div>

        <div class="form__control">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" placeholder="Input text"
            required [(ngModel)]="password" #passwordCtrl="ngModel"/>

          <span id="passwordErrorMessage" class="text-danger"
            *ngIf="(registrationForm.submitted || passwordCtrl.touched) && passwordCtrl.errors">Password is required.</span>
        </div>
      </div>
      <div>
        <div class="form__action">
          <app-button buttonText="REGISTER"></app-button>
        </div>
        <div class="form__text">
            If you have an account you may <a [routerLink]="['/login']" routerLinkActive="router-link-active"><strong>Login</strong></a>
        </div>
      </div>
    </div>
  </form>
</div>
