<section class="courses-list">
  <ng-container *ngIf="courses?.length; else emptyState">
    <div class="toolbar">
      <app-search (search)="onSearch($event)">
      </app-search>
      <ng-content></ng-content>
    </div>

    <app-courses-list [courses]="courses" [isEditable]="isEditable">
    </app-courses-list>
  </ng-container>

  <ng-template #emptyState>
    <app-info 
        title="Your list is empty"
        text="Please use 'Add New Course' button to add your first course">
        
        <app-button buttonText="Add New Course" (click)="onAdd()"></app-button>
    </app-info>
  </ng-template>
</section>