  <div class="cards-container">
    <ng-container *ngIf="courses !== null && isEditable !== null">
      <app-course-card
        *ngFor="let course of courses"
        [title]="course.title"
        [description]="course.description"
        [creationDate]="course.creationDate"
        [duration]="course.duration"
        [authors]="course.authors"
        [isEditable]="isEditable"
        (clickOnShow)="onShow(course)">
          <app-button *ngIf="isEditable" iconName="trash-can" (click)="onDelete(course)"></app-button>
          <app-button *ngIf="isEditable" iconName="pencil" (click)="onEdit(course)"></app-button>
      </app-course-card>
    </ng-container>
  </div>
