<h1 class="text-align-left">Course {{ isEditMode ? "Edit" : "Add"}} Page</h1>
<form [formGroup]="courseForm">
  <div class="app-plate">
    <div class="course">
      <div>
        <h2>Main Info</h2>
        <div class="form__control">
          <label for="title">Title</label>
          <input type="text" id="title" formControlName="title" placeholder="Input text"/>

          <span id="titleErrorMessage" class="text-danger"
            *ngIf="(submitted || title?.touched) && title?.errors?.['required']">Title is required.</span>
        </div>

        <div class="form__control">
          <label for="description">Description</label>
          <textarea
            id="description"
            formControlName="description"
            placeholder="Input text"
            rows="4"
            cols="5"
          ></textarea>

          <span id="descriptionErrorMessage" class="text-danger"
            *ngIf="(submitted || description?.touched) && description?.errors?.['required']">Description is required.</span>
        </div>

        <h2>Duration</h2>
        <div class="form__control">
          <label for="duration">Duration</label>
          <div class="course__duration-container">
            <input type="number" id="duration" formControlName="duration" placeholder="Input duration"/>
            <div class="course__duration">
              {{ duration?.value | duration }}
            </div>
          </div>

          <span id="durationErrorMessage" class="text-danger"
            *ngIf="(submitted || duration?.touched) && duration?.errors?.['required']">Duration is required.</span>
        </div>

        <div class="course__authors-columns">
          <div class="course__authors-col">
            <h2>Authors</h2>
            <div class="form__control">
              <label for="author">Author name</label>
              <div class="course__flex">
                <input type="text" id="author" formControlName="author" placeholder="Input Author Name"/>
                <app-button id="createAuthor" buttonText="CREATE AUTHOR" (click)="createAuthor()"></app-button>
              </div>

              <span id="authorErrorMessage" *ngIf="(submitted || author?.touched) && author?.errors?.['pattern']">New author should contain only latin letters and numbers.</span>
              
              <div class="course__authors-list">
                <label for="authors-list">Authors List</label>
                <ng-container *ngFor="let author of allAuthors" id="authors-list">
                  <div class="course__authors-list-item">
                    <span>{{ author.name }}</span>
                    <button type="button" class="icon-btn"
                      (click)="addAuthorToCourse(author)" aria-label="Add author">
                      <fa-icon icon="plus"></fa-icon>
                    </button>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>

          <div class="course__authors-col">
            <h2>Course Authors</h2>
            <div class="form__control">
              <div class="course__authors-list">
                <div *ngFor="let author of courseAuthors; let i = index">
                  <div class="course__authors-list-item">
                    <span>{{ author.name }}</span>
                    <button type="button" class="icon-btn"
                      (click)="addAuthorToCourse(author)" aria-label="Add author">
                      <fa-icon icon="trash-can"></fa-icon>
                    </button>
                  </div>
                </div>
                <div *ngIf="courseAuthors.length === 0" class="course__authors-empty">
                  Author list is empty
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<div class="form__action" style="display: flex; justify-content: flex-end; gap: 16px; margin-top: 32px;">
  <app-button buttonText="CANCEL" (click)="router.navigate(['/courses'])"></app-button>
  <app-button [buttonText]="isEditMode ? 'UPDATE COURSE' : 'CREATE COURSE'" (click)="onSubmit()"></app-button>
</div>
